#m-f7f91b8b-24bb-40f8-b657-ec70aded513a.master {
  transform: translate(0px,-1px);
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 {
  position: absolute;
  width: 134.94140625px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Monda_16.0.0_google',Arial;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 span#rtr-Paragraph_12_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_2 {
  position: absolute;
  width: 26.41492462158203px;
  height: 17.609947204589844px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_3 {
  position: absolute;
  width: 17.609947204589844px;
  height: 26.41492462158203px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_4 {
  position: absolute;
  width: 13.695423126220703px;
  height: 9.090520858764648px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_5 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_6 {
  position: absolute;
  width: 17.613561630249023px;
  height: 26.418537139892578px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_7 {
  position: absolute;
  width: 26.41492462158203px;
  height: 17.609949111938477px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_8 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_9 {
  position: absolute;
  width: 0.007228851318359375px;
  height: 0.23494338989257812px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_22 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_23 {
  position: absolute;
  width: 17.609949111938477px;
  height: 26.418537139892578px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_24 {
  position: absolute;
  width: 17.609962463378906px;
  height: 26.418537139892578px;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Hotspot_1 {
  position: absolute;
  width: 193.0px;
  height: 43.99681092472801px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_7 {
  position: absolute;
  width: 26.41492462158203px;
  height: 17.609949111938477px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_2 {
  position: absolute;
  width: 26.41492462158203px;
  height: 17.609947204589844px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_4 {
  position: absolute;
  width: 13.695423126220703px;
  height: 9.090520858764648px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_3 {
  position: absolute;
  width: 17.609947204589844px;
  height: 26.41492462158203px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 span#rtr-Paragraph_12_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_22 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a.master {
  transform: translate(0px,-1px);
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_24 {
  position: absolute;
  width: 17.609962463378906px;
  height: 26.418537139892578px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_9 {
  position: absolute;
  width: 0.007228851318359375px;
  height: 0.23494338989257812px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Hotspot_1 {
  position: absolute;
  width: 193.0px;
  height: 43.99681092472801px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_6 {
  position: absolute;
  width: 17.613561630249023px;
  height: 26.418537139892578px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_23 {
  position: absolute;
  width: 17.609949111938477px;
  height: 26.418537139892578px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 {
  position: absolute;
  width: 134.94140625px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Monda_16.0.0_google',Arial;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Paragraph_12 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_5 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
.m-f7f91b8b-24bb-40f8-b657-ec70aded513a #Path_8 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#loadMark-m-f7f91b8b-24bb-40f8-b657-ec70aded513a {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-f7f91b8b-24bb-40f8-b657-ec70aded513a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}