#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 > #backgroundBox {
  position: absolute;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1279.999999999999px;
  max-height: 2402.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Master_item_7 {
  position: absolute;
  width: 1111.3436423053572px;
  height: 97.50262826102698px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_14 span {
  color: #FF22CD;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_14 span#rtr-mi-24f117ad-Paragraph_14_0 {
  color: #FF22CD;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_16 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_16 span#rtr-mi-24f117ad-Paragraph_16_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_17 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_17 span#rtr-mi-24f117ad-Paragraph_17_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_2 {
  position: absolute;
  width: 1110.0px;
  height: 2.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_18 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_18 span#rtr-mi-24f117ad-Paragraph_18_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_3 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_4 {
  position: absolute;
  width: 20.0px;
  height: 19.87851560115818px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_5 {
  position: absolute;
  width: 20.0px;
  height: 20.00016276041606px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_19 {
  position: absolute;
  width: 133.94140625px;
  min-height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Monda_16.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_19 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_19 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 700;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Paragraph_19 span#rtr-mi-24f117ad-Paragraph_19_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 700;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_6 {
  position: absolute;
  width: 20.039129633237394px;
  height: 13.3594197554916px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_7 {
  position: absolute;
  width: 13.359419755491658px;
  height: 20.03912963323741px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_9 {
  position: absolute;
  width: 10.389745355066466px;
  height: 6.896334181011035px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_10 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_19 {
  position: absolute;
  width: 13.362161376404288px;
  height: 20.041871254150067px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_20 {
  position: absolute;
  width: 20.039129633237394px;
  height: 13.3594197554916px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_25 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_26 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_27 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_36 {
  position: absolute;
  width: 13.35941975549163px;
  height: 20.04187125415008px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Path_38 {
  position: absolute;
  width: 13.359421636941192px;
  height: 20.041871254150067px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-24f117ad-Hotspot_1 {
  position: absolute;
  width: 193.0px;
  height: 43.99681092472801px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Master_item_5 {
  position: absolute;
  width: 1108.4957682226614px;
  height: 36.72883184266129px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_42 {
  position: absolute;
  width: 91.82458287736132px;
  height: 22.71536214089753px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_43 {
  position: absolute;
  width: 11.878196727969225px;
  height: 22.592965053355922px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_44 {
  position: absolute;
  width: 21.828546895534146px;
  height: 21.698799408562422px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_45 {
  position: absolute;
  width: 106.85663389245272px;
  height: 24.416859718568205px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_48 {
  position: absolute;
  width: 25.299995511079658px;
  height: 25.299995511079572px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_49 {
  position: absolute;
  width: 5.34640095914682px;
  height: 6.321878076991283px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #shapewrapper-mi-a1ed0614-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #shapewrapper-mi-a1ed0614-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #shapewrapper-mi-a1ed0614-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Ellipse_2 {
  width: 3.472755703382802px;
  height: 3.4727557033826315px;
  min-height: 3.4727557033826315px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #shapewrapper-mi-a1ed0614-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #8A29F5;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #shapewrapper-mi-a1ed0614-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #shapewrapper-mi-a1ed0614-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #shapewrapper-mi-a1ed0614-Ellipse_2 span#rtr-mi-a1ed0614-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_50 {
  position: absolute;
  width: 82.74233296189118px;
  height: 26.749834843195757px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_56 {
  position: absolute;
  width: 27.54572755807237px;
  height: 30.777348936786055px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_57 {
  position: absolute;
  width: 77.42474644448191px;
  height: 21.0805092271777px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_58 {
  position: absolute;
  width: 30.79239827360266px;
  height: 30.930105031342688px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_59 {
  position: absolute;
  width: 19.838754191724092px;
  height: 30.649531353190994px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_60 {
  position: absolute;
  width: 137.044704334402px;
  height: 24.193890990974275px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_61 {
  position: absolute;
  width: 36.24763904879366px;
  height: 36.72883184266129px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-a1ed0614-Path_62 {
  position: absolute;
  width: 141.08934799548018px;
  height: 18.329160020161154px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Union_1 {
  position: absolute;
  width: 466.37633125460195px;
  height: 485.5693359375px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Path_31 {
  position: absolute;
  width: 69.8637266839379px;
  height: 70.48138309766404px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Path_32 {
  position: absolute;
  width: 39.13539202283994px;
  height: 39.48138309766397px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Path_33 {
  position: absolute;
  width: 391.80724175167705px;
  height: 69.56755717326433px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Path_34 {
  position: absolute;
  width: 28.749802509559675px;
  height: 29.003975894751708px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Image_3 {
  position: absolute;
  width: 312.0px;
  height: 317.90769230769223px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_15 {
  position: absolute;
  width: 648.000000000002px;
  min-height: 107.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_15 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_13 {
  position: absolute;
  width: 534.0000000000005px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Gloock_6.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_13 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_13 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 33.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 52px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 33.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 52px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_11 {
  position: absolute;
  width: 150.00000000000205px;
  min-height: 29.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_11 span {
  color: #FF22CD;
  text-align: left;
  text-decoration: underline;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FF22CD;
  text-decoration: underline;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Path_35 {
  position: absolute;
  width: 1280.0000000000005px;
  height: 1697.9234619140625px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 {
  position: absolute;
  width: 1205.0px;
  height: 962.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 > .borderLayer > .paddingLayer > table {
  padding-left: 5px;
  padding-top: 5px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Grid_cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Grid_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Grid_cell_2 .verticalalign {
  vertical-align: top;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Path_1 {
  position: absolute;
  width: 30.0px;
  height: 29.81777340173728px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Path_8 {
  position: absolute;
  width: 30.0px;
  height: 30.000244140625px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 {
  position: absolute;
  width: 276.85185185185185px;
  min-height: 276.85185185185173px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FAD01D;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Image_1 {
  position: absolute;
  width: 280.9999999999998px;
  height: 281.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Image_1 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Image_1 > .borderLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Image_1 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_6 {
  position: absolute;
  width: 309.8518371582031px;
  min-height: 319.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_6 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_7 {
  position: absolute;
  width: 309.85185165758367px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 25px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 25px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_8 {
  position: absolute;
  width: 309.85185165758367px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Gloock_6.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_8 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 23.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 39px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_2 .s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 23.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 39px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_10 {
  position: absolute;
  width: 534.0000000000005px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Gloock_6.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_10 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_10 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 29.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 45px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 29.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 45px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 {
  position: absolute;
  width: 1115.0px;
  height: 502.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 > .borderLayer > .paddingLayer > table {
  padding-left: 5px;
  padding-top: 5px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Grid_cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Grid_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Grid_cell_1 .verticalalign {
  vertical-align: top;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_1 {
  position: absolute;
  width: 285.7350158691406px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 40px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 40px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_2 {
  position: absolute;
  width: 522.0266952514648px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Gloock_6.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 26.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 43px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Gloock_6.0.0_google',Arial;
  font-size: 26.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 43px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_3 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_4 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_5 {
  position: absolute;
  width: 1009.03px;
  min-height: 266.53px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_5 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_9 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Data_grid_1 .s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Panel_1 {
  width: calc(100.0% - 0.0px - 0.0px);
  height: 88.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Rectangle_2 {
  position: absolute;
  width: calc(100.0% - 0.0px - 0.0px);
  min-height: 81.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 2px rgba(64,64,64,0.4));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Master_item_1 {
  position: absolute;
  width: 199.94140524338403px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Paragraph_12 {
  position: absolute;
  width: 134.94140625px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Monda_16.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Paragraph_12 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Paragraph_12 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Paragraph_12 span#rtr-mi-af8273c1-Paragraph_12_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_11 {
  position: absolute;
  width: 26.414922961365946px;
  height: 17.60994864091063px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_12 {
  position: absolute;
  width: 17.609948640910716px;
  height: 26.414922961365967px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_13 {
  position: absolute;
  width: 13.695421316457256px;
  height: 9.09052136701068px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_14 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_15 {
  position: absolute;
  width: 17.613562555612667px;
  height: 26.41853687606797px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_16 {
  position: absolute;
  width: 26.414922961365974px;
  height: 17.609948640910645px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_17 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_18 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_28 {
  position: absolute;
  width: 1.0px;
  height: 1.0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_29 {
  position: absolute;
  width: 17.609948640910662px;
  height: 26.418536876068003px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Path_30 {
  position: absolute;
  width: 17.609951120975694px;
  height: 26.41853687606797px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-af8273c1-Hotspot_2 {
  position: absolute;
  width: 193.0px;
  height: 43.99681092472801px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #s-Master_item_4 {
  position: absolute;
  width: 633.9999999999998px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Table_1 {
  position: absolute;
  width: 487.73333333333403px;
  height: 27.33333333333337px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_6 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_6 {
  width: 25.0%;
  height: 100.00000000000003%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_6 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_6 span {
  color: #0F032F;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_6 span#rtr-mi-45ad2a20-Text_cell_6_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_7 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_7 {
  width: 25.0%;
  height: 100.00000000000003%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_7 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_7 span {
  color: #0F032F;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_7 span#rtr-mi-45ad2a20-Text_cell_7_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_8 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_8 {
  width: 25.0%;
  height: 100.00000000000003%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_8 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_8 span {
  color: #0F032F;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_8 span#rtr-mi-45ad2a20-Text_cell_8_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_10 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_10 {
  width: 25.0%;
  height: 100.00000000000003%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_10 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_10 span {
  color: #0F032F;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Text_cell_10 span#rtr-mi-45ad2a20-Text_cell_10_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 {
  position: absolute;
  width: 127.99999999999977px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 > .backgroundLayer {
  border-top-left-radius: 19.5px;
  border-top-right-radius: 19.5px;
  border-bottom-right-radius: 19.5px;
  border-bottom-left-radius: 19.5px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 19.5px;
  border-top-right-radius: 19.5px;
  border-bottom-right-radius: 19.5px;
  border-bottom-left-radius: 19.5px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 > .backgroundLayer {
  border-top-left-radius: 19.5px;
  border-top-right-radius: 19.5px;
  border-bottom-right-radius: 19.5px;
  border-bottom-left-radius: 19.5px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 #mi-45ad2a20-Button_1 span#rtr-mi-45ad2a20-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0b2a5773-9cc7-432f-bc1a-64d007d07150 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}