#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d.master {
  transform: translate(0px,0px);
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_38 {
  position: absolute;
  width: 91.82458287736132px;
  height: 22.71536214089753px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_43 {
  position: absolute;
  width: 11.878196727969225px;
  height: 22.592965053355922px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_44 {
  position: absolute;
  width: 21.828546895534146px;
  height: 21.698799408562422px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_45 {
  position: absolute;
  width: 106.85663389245272px;
  height: 24.416859718568205px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_48 {
  position: absolute;
  width: 25.299995511079658px;
  height: 25.299995511079572px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_49 {
  position: absolute;
  width: 5.34640095914682px;
  height: 6.321878076991283px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Ellipse_2 {
  width: 3.472755703382802px;
  height: 3.4727557033826315px;
  min-height: 3.4727557033826315px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #8A29F5;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 span#rtr-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_50 {
  position: absolute;
  width: 82.74233296189118px;
  height: 26.749834843195757px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_56 {
  position: absolute;
  width: 27.54572755807237px;
  height: 30.777348936786055px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_57 {
  position: absolute;
  width: 77.42474644448191px;
  height: 21.0805092271777px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_58 {
  position: absolute;
  width: 30.79239827360266px;
  height: 30.930105031342688px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_59 {
  position: absolute;
  width: 19.838754191724092px;
  height: 30.649531353190994px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_60 {
  position: absolute;
  width: 137.044704334402px;
  height: 24.193890990974275px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_61 {
  position: absolute;
  width: 36.24763904879366px;
  height: 36.72883184266129px;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_62 {
  position: absolute;
  width: 141.08934799548018px;
  height: 18.329160020161154px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_57 {
  position: absolute;
  width: 77.42474644448191px;
  height: 21.0805092271777px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_45 {
  position: absolute;
  width: 106.85663389245272px;
  height: 24.416859718568205px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_56 {
  position: absolute;
  width: 27.54572755807237px;
  height: 30.777348936786055px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_49 {
  position: absolute;
  width: 5.34640095914682px;
  height: 6.321878076991283px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Ellipse_2 {
  width: 3.472755703382802px;
  height: 3.4727557033826315px;
  min-height: 3.4727557033826315px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_60 {
  position: absolute;
  width: 137.044704334402px;
  height: 24.193890990974275px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_43 {
  position: absolute;
  width: 11.878196727969225px;
  height: 22.592965053355922px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_59 {
  position: absolute;
  width: 19.838754191724092px;
  height: 30.649531353190994px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_62 {
  position: absolute;
  width: 141.08934799548018px;
  height: 18.329160020161154px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_38 {
  position: absolute;
  width: 91.82458287736132px;
  height: 22.71536214089753px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_44 {
  position: absolute;
  width: 21.828546895534146px;
  height: 21.698799408562422px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #8A29F5;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_58 {
  position: absolute;
  width: 30.79239827360266px;
  height: 30.930105031342688px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_61 {
  position: absolute;
  width: 36.24763904879366px;
  height: 36.72883184266129px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 span#rtr-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_48 {
  position: absolute;
  width: 25.299995511079658px;
  height: 25.299995511079572px;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #shapewrapper-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d.master {
  transform: translate(0px,0px);
}
.m-2a16debb-f7ca-41e7-a759-649dd5c7a35d #Path_50 {
  position: absolute;
  width: 82.74233296189118px;
  height: 26.749834843195757px;
}
#loadMark-m-2a16debb-f7ca-41e7-a759-649dd5c7a35d {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-2a16debb-f7ca-41e7-a759-649dd5c7a35d.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}