#m-415ee9d8-342e-4f32-93e7-960ff9203a09.master {
  transform: translate(-85px,-2px);
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 span {
  color: #FF22CD;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #FF22CD;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_1 {
  position: absolute;
  width: 1110.0px;
  height: 2.0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_2 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_3 {
  position: absolute;
  width: 20.0px;
  height: 19.878515243530273px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_4 {
  position: absolute;
  width: 20.0px;
  height: 20.000244140625px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 {
  position: absolute;
  width: 133.94140625px;
  min-height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Monda_16.0.0_google',Arial;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 700;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 700;
  text-transform: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_5 {
  position: absolute;
  width: 20.03913116455078px;
  height: 13.359420776367188px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_6 {
  position: absolute;
  width: 13.359420776367188px;
  height: 20.03913116455078px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_8 {
  position: absolute;
  width: 10.38974380493164px;
  height: 6.896333694458008px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_10 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_11 {
  position: absolute;
  width: 13.362161636352539px;
  height: 20.041872024536133px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_12 {
  position: absolute;
  width: 20.03913116455078px;
  height: 13.359419822692871px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_13 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_14 {
  position: absolute;
  width: 0.00548553466796875px;
  height: 0.17823410034179688px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_15 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_16 {
  position: absolute;
  width: 13.359419822692871px;
  height: 20.0418701171875px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_17 {
  position: absolute;
  width: 13.359420776367188px;
  height: 20.041872024536133px;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Hotspot_1 {
  position: absolute;
  width: 193.0px;
  height: 43.99681092472801px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_2 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_8 {
  position: absolute;
  width: 10.38974380493164px;
  height: 6.896333694458008px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Hotspot_1 {
  position: absolute;
  width: 193.0px;
  height: 43.99681092472801px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 700;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans_40.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09.master {
  transform: translate(-85px,-2px);
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 span {
  color: #FF22CD;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #FF22CD;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_1 {
  position: absolute;
  width: 1110.0px;
  height: 2.0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_13 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans_40.0.0_google',Arial;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_3 {
  position: absolute;
  width: 20.0px;
  height: 19.878515243530273px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 {
  position: absolute;
  width: 133.94140625px;
  min-height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Monda_16.0.0_google',Arial;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_6 {
  position: absolute;
  width: 13.359420776367188px;
  height: 20.03913116455078px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_3 span {
  color: #0F032F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_11 {
  position: absolute;
  width: 13.362161636352539px;
  height: 20.041872024536133px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_16 {
  position: absolute;
  width: 13.359419822692871px;
  height: 20.0418701171875px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_4 {
  position: absolute;
  width: 20.0px;
  height: 20.000244140625px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_12 {
  position: absolute;
  width: 20.03913116455078px;
  height: 13.359419822692871px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_14 {
  position: absolute;
  width: 0.00548553466796875px;
  height: 0.17823410034179688px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_5 {
  position: absolute;
  width: 20.03913116455078px;
  height: 13.359420776367188px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_17 {
  position: absolute;
  width: 13.359420776367188px;
  height: 20.041872024536133px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_10 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #0F032F;
  text-decoration: none;
  font-family: 'Monda_16.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 700;
  text-transform: none;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
.m-415ee9d8-342e-4f32-93e7-960ff9203a09 #Path_15 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
}
#loadMark-m-415ee9d8-342e-4f32-93e7-960ff9203a09 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-415ee9d8-342e-4f32-93e7-960ff9203a09.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}